title = "blog"
url = "/blog"
layout = "default"
is_hidden = 0
==
<?php
use category\catdemo\models\Addcat;

function onStart()
{  
    
    
    if(!empty($_REQUEST['category']))
  {
      $n =Input::all();
      
      $u =DB::table('category_catdemo_addcats')
            ->join('rafie_sitepointdemo_three_cat', 'category_catdemo_addcats.id', '=', 'rafie_sitepointdemo_three_cat.addcat_id')
            ->join('rafie_sitepointdemo_teams', 'rafie_sitepointdemo_teams.id', '=', 'rafie_sitepointdemo_three_cat.team_id')
            ->select('category_catdemo_addcats.id', 'category_catdemo_addcats.catname', 'rafie_sitepointdemo_teams.title', 'rafie_sitepointdemo_teams.summary', 'rafie_sitepointdemo_teams.content') ->where('category_catdemo_addcats.catname', '=', $n)->orwhere('rafie_sitepointdemo_teams.title', '=', $n)->paginate(1);
        $this['data'] = $u; 
  }
  else
  {
        $d  = DB::table('category_catdemo_addcats')
          ->join('rafie_sitepointdemo_three_cat', 'category_catdemo_addcats.id', '=', 'rafie_sitepointdemo_three_cat.addcat_id')
          ->join('rafie_sitepointdemo_teams', 'rafie_sitepointdemo_teams.id', '=', 'rafie_sitepointdemo_three_cat.team_id')
          ->select('category_catdemo_addcats.id', 'category_catdemo_addcats.catname', 'rafie_sitepointdemo_teams.title', 'rafie_sitepointdemo_teams.summary', 'rafie_sitepointdemo_teams.content')
          ->paginate(1);   
       $this['data'] = $d;  
       
  } 
}
?>
==
<div class="container">
 <form action="blog" method="POST" role="search">
    <div class="input-group">
        <input type="text" class="form-control" name="category"
            placeholder="Search users"> <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              Search
            </button>
        </span>
    </div>
</form>


{% for cat in data %}
<div class="post-list">
  
  <div class="category">
    <u>category</u> :  {{ cat.catname }}
 </div> 
 
 <div class="title">
   <h5><u>title</u> : {{ cat.title }}</h5>
 </div> 
 
  <div class="summary">
    <u>summary</u> : {{ cat.summary }}
 </div> 
 
 <div class="content">
   <u>content</u> : {{ cat.content }}
 </div> 

</div>
{% endfor %}
{{ data.render|raw }}
</div>

<style>
.summary {
    text-transform:  capitalize;
}
.category {
    font-size: 22px;
    text-transform:  capitalize;
    font-weight:  bold;
}
.title h5 {
   font-size: 19px;
    text-transform: capitalize;
    color: grey;
    font-weight: bold;
}

.content {
    text-transform:  capitalize;
    font-size:  14px;
    padding-top:  10px;
}
.post-list {
    background: #e7fdfcb5;
    padding: 27px;
    margin-top: 15px;
    border-radius: 17px;
    box-shadow: 2px 3px 4px #dddddd5c;
}
form {
    margin-top: 30px;
}
</style>